In [39]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import re
import string

In [3]:
#Importing the dataset
df_fake = pd.read_csv("Fake.csv")

In [4]:
df_true = pd.read_csv("True.csv")

In [5]:
df_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [6]:
df_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [7]:
#Insert a column class as target feature
df_fake["class"] = 0
df_true["class"] = 1

In [9]:
df_fake.shape, df_true.shape

((23481, 5), (21417, 5))

In [10]:
#Removing 10 last rows for manual testing
df_fake_manual_test = df_fake.tail(10)
for i in range(23480, 23470, -1):
    df_fake.drop([i], axis=0, inplace=True)

In [11]:
df_true_manual_test = df_true.tail(10)
for i in range(21416, 21406, -1):
    df_true.drop([i], axis=0, inplace=True)

In [12]:
df_fake.shape, df_true.shape

((23471, 5), (21407, 5))

In [15]:
df_fake_manual_test

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [16]:
df_fake_manual_test["class"] = 0
df_true_manual_test["class"] = 1

C:\Users\rfroo\AppData\Local\Temp/ipykernel_21860/2025442158.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fake_manual_test["class"] = 0
C:\Users\rfroo\AppData\Local\Temp/ipykernel_21860/2025442158.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_true_manual_test["class"] = 1

In [17]:
#combine both true and false dfs
df_manual_test = pd.concat([df_fake_manual_test, df_true_manual_test], axis =0)
#axis=0 represents rows and axis=1 represent coulmns
df_manual_test.to_csv("manual_testing.csv")

In [19]:
#now merging true and false dataframes
df_merge = pd.concat([df_fake, df_true], axis=0)
df_merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [20]:
df_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [21]:
#Lets remove the columns that are not required
df = df_merge.drop(['title', 'subject', 'date'], axis=1)

In [24]:
#check for null values
df.isnull().sum()

text     0
class    0
dtype: int64

In [26]:
#Random shuffling the Data Frame
df = df.sample(frac=1)
df

                                                    text  class
9686   WASHINGTON (Reuters) - Presumptive Republican ...      1
7863   Donald Trump s hopes and dreams of building a ...      0
22798  Undoubtedly, we are living in an age of univer...      0
895    WASHINGTON (Reuters) - The U.S. Justice Depart...      1
18383  The hosts of  New Day  dug a deeper hole for C...      0
...                                                  ...    ...
293    WASHINGTON (Reuters) - The U.S. Senate voted o...      1
14235  No matter which candidate you support, this mo...      0
3044   America s village idiot got her ass handed to ...      0
17287  Not that it matters, but since it appears that...      0
12596  An Aug. 8, 2015, email exchange between Clinto...      0

[44878 rows x 2 columns]

In [27]:
df.columns

Index(['text', 'class'], dtype='object')

In [31]:
df.index

Int64Index([ 9686,  7863, 22798,   895, 18383,  2853,  1911,  7876,  4901,
            12694,
            ...
              476,  4579,  8637, 15749, 20286,   293, 14235,  3044, 17287,
            12596],
           dtype='int64', length=44878)

In [32]:
df.reset_index(inplace=True)

In [33]:
df.index

RangeIndex(start=0, stop=44878, step=1)

In [34]:
df.drop(["index"], axis=1, inplace=True)

In [35]:
df.columns

Index(['text', 'class'], dtype='object')

In [36]:
df.head(5)

                                                text  class
0  WASHINGTON (Reuters) - Presumptive Republican ...      1
1  Donald Trump s hopes and dreams of building a ...      0
2  Undoubtedly, we are living in an age of univer...      0
3  WASHINGTON (Reuters) - The U.S. Justice Depart...      1
4  The hosts of  New Day  dug a deeper hole for C...      0

In [41]:
#Create a function to process the text
#The re.sub(pat, replacement, str) function searches for all the instances of pattern
#in the given string, and replaces them. The replacement string can include '\1', '\2'
#which refer to the text from group(1), group(2), and so on from the original matching text.
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]',"", text)
    text = re.sub('\\W',"", text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [48]:
df["text"] = df["text"].apply(wordopt)

In [49]:
#Define dependent and independent variables
x = df['text']
y = df['class']

In [63]:
x.shape

(44878,)

In [70]:
#Split in train and text
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

In [71]:
x_train.shape

(33658,)

In [72]:
#Lets convert text into vectors
from sklearn.feature_extraction.text import TfidfVectorizer
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

In [65]:
xv_train.shape

(33658, 5611)

In [66]:
xv_test.shape

(11220, 1935)

In [73]:
#Lets perform logistic regression
from sklearn.linear_model import LogisticRegression

LR = LogisticRegression()
LR.fit(xv_train, y_train)

LogisticRegression()

In [74]:
pred_lr = LR.predict(xv_test)

In [75]:
LR.score(xv_test, y_test)

0.5293226381461675

In [76]:
print(classification_report(y_test, pred_lr))

              precision    recall  f1-score   support

           0       0.53      1.00      0.69      5899
           1       1.00      0.01      0.01      5321

    accuracy                           0.53     11220
   macro avg       0.76      0.50      0.35     11220
weighted avg       0.75      0.53      0.37     11220

In [78]:
#Decision tree classifer
from sklearn.tree import DecisionTreeClassifier
DT= DecisionTreeClassifier()

In [79]:
DT.fit(xv_train, y_train)

DecisionTreeClassifier()

In [81]:
pred_dt = DT.predict(xv_test)

In [82]:
DT.score(xv_test, y_test)

0.5293226381461675

In [83]:
print(classification_report(y_test, pred_dt))

              precision    recall  f1-score   support

           0       0.53      1.00      0.69      5899
           1       1.00      0.01      0.01      5321

    accuracy                           0.53     11220
   macro avg       0.76      0.50      0.35     11220
weighted avg       0.75      0.53      0.37     11220

In [84]:
#Gradient Boosting Classifier
from sklearn.ensemble import GradientBoostingClassifier

In [85]:
GBC = GradientBoostingClassifier()

In [86]:
GBC.fit(xv_train, y_train)

GradientBoostingClassifier()

In [89]:
pred_gbc = GBC.predict(xv_test)

In [90]:
GBC.score(xv_test, y_test)

0.5257575757575758

In [91]:
print(classification_report(y_test, pred_gbc))

              precision    recall  f1-score   support

           0       0.53      1.00      0.69      5899
           1       0.00      0.00      0.00      5321

    accuracy                           0.53     11220
   macro avg       0.26      0.50      0.34     11220
weighted avg       0.28      0.53      0.36     11220

C:\Users\rfroo\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\rfroo\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\rfroo\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [92]:
#Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier

In [93]:
RFC = RandomForestClassifier()
RFC.fit(xv_train, y_train)

RandomForestClassifier()

In [94]:
pred_rfc = RFC.predict(xv_test)

In [95]:
RFC.score(xv_test, y_test)

0.5293226381461675

In [96]:
print(classification_report(y_test, pred_rfc))

              precision    recall  f1-score   support

           0       0.53      1.00      0.69      5899
           1       1.00      0.01      0.01      5321

    accuracy                           0.53     11220
   macro avg       0.76      0.50      0.35     11220
weighted avg       0.75      0.53      0.37     11220

In [104]:
#Lets do the model testing
def output_label(n):
    if n ==0:
        return "Fake News"
    elif n==1:
        return "Not a fake news"

In [111]:
def manual_testing(news):
    testing_news = {"text": [news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test['text'] = new_def_test["text"].apply(wordopt)
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    pred_LR = LR.predict(new_xv_test)
    pred_DT = DT.predict(new_xv_test)
    pred_GBC = GBC.predict(new_xv_test)
    pred_RFC = RFC.predict(new_xv_test)
    return print("\n\nLR Prediction: {} \nDT Prediction: {} \nGBC Prediction: {} \nRFC Prediction: {}".format(output_label(pred_LR[0]),                                                                                                   
                                                                                                              output_label(pred_DT[0]), 
                                                                                                              output_label(pred_GBC[0]), 
                                                                                                              output_label(pred_RFC[0])))

In [112]:
news = str(input())
manual_testing(news)

Donald Trump just couldn t wish all Americans


LR Prediction: Fake News
DT Prediction: Fake News
GBC Prediction: Fake News
RFC Prediction: Fake News

In [114]:
news = str(input())
manual_testing(news)

BRUSSELS (Reuters) - NATO allies on Tuesday welcomed President Donald Trump s decision to commit more forces to Afghanistan, as part of a new U.S. strategy he said would require more troops and funding from America s partners. Having run for the White House last year on a pledge to withdraw swiftly from Afghanistan, Trump reversed course on Monday and promised a stepped-up military campaign against  Taliban insurgents, saying:  Our troops will fight to win .  U.S. officials said he had signed off on plans to send about 4,000 more U.S. troops to add to the roughly 8,400 now deployed in Afghanistan. But his speech did not define benchmarks for successfully ending the war that began with the U.S.-led invasion of Afghanistan in 2001, and which he acknowledged had required an   extraordinary sacrifice of blood and treasure .  We will ask our NATO allies and global partners to support our new strategy, with additional troops and funding increases in line with our own. We are confident they will,  Trump said. That comment signaled he would further increase pressure on U.S. partners who have already been jolted by his repeated demands to step up their contributions to NATO and his description of the alliance as  obsolete  - even though, since taking office, he has said this is no longer the case. NATO Secretary General Jens Stoltenberg said in a statement:  NATO remains fully committed to Afghanistan and I am looking forward to discussing the way ahead with (Defense) Secretary (James) Mattis and our Allies and international partners.  NATO has 12,000 troops in Afghanistan, and 15 countries have pledged more, Stoltenberg said. Britain, a leading NATO member, called the U.S. commitment  very welcome .  In my call with Secretary Mattis yesterday we agreed that despite the challenges, we have to stay the course in Afghanistan to help build up its fragile democracy and reduce the terrorist threat to the West,  Defence Secretary Michael Fallon said. Germany, which has borne the brunt of Trump s criticism over  the scale of its defense spending, also welcomed the new U.S. plan.  Our continued commitment is necessary on the path to stabilizing the country,  a government spokeswoman said. In June, European allies had already pledged more troops but had not given details on numbers, waiting for the Trump administration to outline its strategy for the region.Nearly 16 years after the U.S.-led invasion - a response to the Sept. 11 attacks which were planned by al Qaeda leader Osama bin Laden from Afghanistan - the country is still struggling with weak central government and a Taliban insurgency. Trump said he shared the frustration of the American people who were  weary of war without victory , but a hasty withdrawal would create a vacuum for groups like Islamic State and al Qaeda to fill.


LR Prediction: Fake News
DT Prediction: Fake News
GBC Prediction: Fake News
RFC Prediction: Fake News

In [115]:
news = str(input())
manual_testing(news)

SAO PAULO (Reuters) - Cesar Mata Pires, the owner and co-founder of Brazilian engineering conglomerate OAS SA, one of the largest companies involved in Brazil s corruption scandal, died on Tuesday. He was 68. Mata Pires died of a heart attack while taking a morning walk in an upscale district of S o Paulo, where OAS is based, a person with direct knowledge of the matter said. Efforts to contact his family were unsuccessful. OAS declined to comment. The son of a wealthy cattle rancher in the northeastern state of Bahia, Mata Pires  links to politicians were central to the expansion of OAS, which became Brazil s No. 4 builder earlier this decade, people familiar with his career told Reuters last year. His big break came when he befriended Antonio Carlos Magalh es, a popular politician who was Bahia governor several times, and eventually married his daughter Tereza. Brazilians joked that OAS stood for  Obras Arranjadas pelo Sogro  - or  Work Arranged by the Father-In-Law.   After years of steady growth triggered by a flurry of massive government contracts, OAS was ensnared in Operation Car Wash which unearthed an illegal contracting ring between state firms and builders. The ensuing scandal helped topple former Brazilian President Dilma Rousseff last year. Trained as an engineer, Mata Pires founded OAS with two colleagues in 1976 to do sub-contracting work for larger rival Odebrecht SA - the biggest of the builders involved in the probe.  Before the scandal, Forbes magazine estimated Mata Pires  fortune at $1.6 billion. He dropped off the magazine s billionaire list in 2015, months after OAS sought bankruptcy protection after the Car Wash scandal. While Mata Pires was never accused of wrongdoing in the investigations, creditors demanded he and his family stay away from the builder s day-to-day operations, people directly involved in the negotiations told Reuters at the time. He is survived by his wife and his two sons.


LR Prediction: Fake News
DT Prediction: Fake News
GBC Prediction: Fake News
RFC Prediction: Fake News